@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental Form</h2>
<form id="newRentalForm">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" required type="text" class="form-control"  data-rule-validCustomer="true"/>
        </div>
    </div>   
    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="movies" type="text" class="form-control" name="name" value="" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <ul id="movieList" class="list-group">
            </ul>
        </div>
        
    </div>
    
    <button class="btn btn-primary">Rent</button>
</form>

@section scripts{
    <script>
        $(document).ready(function () {
            let viewModel = { movieIds: [], };

            $("#customer").on("")

            let customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                //prefetch: '../data/films/post_1960.json',
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({ highlight: true }, {
                name: 'customers',
                display: 'name',
                source: customers
            }).on("typeahead:select", function (event, customer) {
                viewModel.movieIds.length = 0;
                console.log(viewModel.movieIds)
                viewModel.customerId = customer.id;
                $(".list-group-item").remove();                
            });

            let movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                //prefetch: '../data/films/post_1960.json',
                remote: {
                    url: '/api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#movies').typeahead({ highlight: true }, {
                name: 'movies',
                display: 'name',
                source: movies
            }).on("typeahead:select", function (event, movie) {
                console.log(movie.name);
                $("#movieList").append('<li class = "list-group-item">' + movie.name + '</li>')
                $("#movies").typeahead("val", "");
                viewModel.movieIds.push(movie.id);
            });

            $.validator.addMethod("validCustomer", function () {
                return viewModel.customerId && viewModel.customerId !== 0;
            }, "Please Select a valid customer");

            $("#newRentalForm").validate({
                submitHandler: function (form, event) {
                    event.preventDefault();

                    $.ajax({
                        url: "/api/NewRentals",
                        method: "post",
                        data: viewModel
                    }).done(function () {
                        toastr.success("Rentals successfully recorded.")
                    }).fail(function () {
                        toastr.error("Something unexpected happened");
                    });
                }
            })
        })
    </script>
}